<div id="wrapper_header">
        <div class="search">
          <div class="main">
            <span class="wsite-search">
	<form id="wsite-header-search-form" action="search.html" method="get">
		<input type="text" name="q" class="wsite-search-input" autocomplete="off" placeholder="Search"/><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span>
	</form>
</span>
            <div class="big-search-close"></div>
          </div>
        </div>
        <div id="header">
          <div class="header-title"></div>
          <div class="header-info">
            <div class="phone-number"><span class="wsite-text">
	<strong><a href="tel:8333837275"><font color="#3f3f3f" size="3">833.383.7275</font></a></strong>
</span></div>
            <div class="location"><span class="wsite-text">
	<strong><font color="#2a2a2a" size="3">&nbsp;hello<a href="mailto:hello@everark.io">@</a>everark.io</font></strong>
</span></div>
            <div class="time-open"></div>
          </div>
          <div class="header-right">
            <div class="socials"><div style="text-align:left;"><div style="height:0px;overflow:hidden"></div>
<span class="wsite-social wsite-social-default"><a class='first-child wsite-social-item wsite-social-facebook' href='https://www.facebook.com/EverArkSoftware/' target='_blank' alt='Facebook' aria-label='Facebook'><span class='wsite-social-item-inner'></span></a><a class='wsite-social-item wsite-social-twitter' href='https://twitter.com/everarksoftware' target='_blank' alt='Twitter' aria-label='Twitter'><span class='wsite-social-item-inner'></span></a><a class='wsite-social-item wsite-social-linkedin' href='https://www.linkedin.com/company/everark/' target='_blank' alt='Linkedin' aria-label='Linkedin'><span class='wsite-social-item-inner'></span></a><a class='last-child wsite-social-item wsite-social-youtube' href='https://www.youtube.com/@everarkcemeterysoftware' target='_blank' alt='Youtube' aria-label='Youtube'><span class='wsite-social-item-inner'></span></a></span>
<div style="height:0px;overflow:hidden"></div></div></div>
            <div id="minicart"></div>
            <div class="navigation-button">
              <span class="nav-button"> <div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="https://everark.app/signup" target="_blank">
<span class="wsite-button-inner">TRY IT FREE | LOGIN</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div> </span>
            </div>
          </div>
        </div>
        <div id="navigation">
          <div class="logo"><span class="wsite-logo">

	<a href="index.html">
		<img src="uploads/1/0/7/5/107572223/everark-long-tm.webp" alt="EVERARK" />
	</a>

</span></div>
          <div class="nav_right">
            <div class="menu-hidden"><ul class="wsite-menu-default">
		<li id="pg807137216236635356" class="wsite-menu-item-wrap">
			<a
						href="index.html"
				class="wsite-menu-item"
				>
				Tour
			</a>
			
		</li>
		<li id="pg845932459489649873" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-features.html"
				class="wsite-menu-item"
				>
				Features
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-887858923769073263"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-management-software-features.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Cemetery Software Features
		</span>
	</a>
	
</li>
<li id="wsite-nav-792470202485167973"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="digital-legacy-features.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Digital Legacy Features
		</span><span class="wsite-menu-arrow">&gt;</span>
	</a>
	<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-305186427897389447"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-online-memorial.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Online Memorial
		</span>
	</a>
	
</li>
<li id="wsite-nav-605887942573778292"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-funeral-notice.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Funeral Notice
		</span>
	</a>
	
</li>
<li id="wsite-nav-577202115788344560"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-resting-place.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Resting Place
		</span>
	</a>
	
</li>
<li id="wsite-nav-600426577136455669"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-family-tree.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Family Tree
		</span>
	</a>
	
</li>
<li id="wsite-nav-282137624634018534"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-content-management.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Media Management
		</span>
	</a>
	
</li>

	</ul>
</div>

</li>
<li id="wsite-nav-949319446280212760"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-features.html#lovedones"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Friends and Family
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg991955371594641585" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-pricing.html"
				class="wsite-menu-item"
				>
				Pricing
			</a>
			
		</li>
		<li id="pg857041114654827260" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-partners.html"
				class="wsite-menu-item"
				>
				Partners
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-306854935912200448"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partner-community.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Meet Our Partners
		</span>
	</a>
	
</li>
<li id="wsite-nav-255203031602220209"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partners.html#partnerform"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Become a partner
		</span>
	</a>
	
</li>
<li id="wsite-nav-164050031794989764"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partners.html#leadform"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Submit a lead
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg268383861935122927" class="wsite-menu-item-wrap">
			<a
						href="blog.html"
				class="wsite-menu-item"
				>
				Blog
			</a>
			
		</li>
		<li id="pg279254457369157478" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Resources
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-879662601104775239"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-quick-facts.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Quick Facts
		</span>
	</a>
	
</li>
<li id="wsite-nav-412176408513318171"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-faq.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			FAQ
		</span>
	</a>
	
</li>
<li id="wsite-nav-853345144352077819"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="about-us.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			About Us
		</span>
	</a>
	
</li>
<li id="wsite-nav-642375240317979528"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="news.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			News
		</span>
	</a>
	
</li>
<li id="wsite-nav-966510667957995380"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-articles.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Articles
		</span>
	</a>
	
</li>
<li id="wsite-nav-865509803538341244"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-training.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Training
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg556297257270355358" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Find a Digitaph
			</a>
			
		</li>
		<li id="pg605163974314908484" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Buy a Plot
			</a>
			
		</li>
		<li id="pg855886954509371694" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Login | Sign Up
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-117216864520549144"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://everark.app/"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Cemetery Software Sign Up | EverArk
		</span>
	</a>
	
</li>
<li id="wsite-nav-605790868676529048"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.everark.me/#/login"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Plot Owners
		</span>
	</a>
	
</li>
<li id="wsite-nav-878103065110148860"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.everark.me/#/login"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Friends & Family
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
</ul>
</div>
            <div class="menu mobile-nav"><ul class="wsite-menu-default">
		<li id="pg807137216236635356" class="wsite-menu-item-wrap">
			<a
						href="index.html"
				class="wsite-menu-item"
				>
				Tour
			</a>
			
		</li>
		<li id="pg845932459489649873" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-features.html"
				class="wsite-menu-item"
				>
				Features
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-887858923769073263"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-management-software-features.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Cemetery Software Features
		</span>
	</a>
	
</li>
<li id="wsite-nav-792470202485167973"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="digital-legacy-features.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Digital Legacy Features
		</span><span class="wsite-menu-arrow">&gt;</span>
	</a>
	<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-305186427897389447"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-online-memorial.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Online Memorial
		</span>
	</a>
	
</li>
<li id="wsite-nav-605887942573778292"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-funeral-notice.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Funeral Notice
		</span>
	</a>
	
</li>
<li id="wsite-nav-577202115788344560"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-resting-place.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Resting Place
		</span>
	</a>
	
</li>
<li id="wsite-nav-600426577136455669"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-family-tree.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Family Tree
		</span>
	</a>
	
</li>
<li id="wsite-nav-282137624634018534"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="celebration-of-life-content-management.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Media Management
		</span>
	</a>
	
</li>

	</ul>
</div>

</li>
<li id="wsite-nav-949319446280212760"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-features.html#lovedones"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Friends and Family
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg991955371594641585" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-pricing.html"
				class="wsite-menu-item"
				>
				Pricing
			</a>
			
		</li>
		<li id="pg857041114654827260" class="wsite-menu-item-wrap">
			<a
						href="cemetery-software-partners.html"
				class="wsite-menu-item"
				>
				Partners
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-306854935912200448"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partner-community.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Meet Our Partners
		</span>
	</a>
	
</li>
<li id="wsite-nav-255203031602220209"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partners.html#partnerform"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Become a partner
		</span>
	</a>
	
</li>
<li id="wsite-nav-164050031794989764"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-partners.html#leadform"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Submit a lead
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg268383861935122927" class="wsite-menu-item-wrap">
			<a
						href="blog.html"
				class="wsite-menu-item"
				>
				Blog
			</a>
			
		</li>
		<li id="pg279254457369157478" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Resources
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-879662601104775239"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-quick-facts.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Quick Facts
		</span>
	</a>
	
</li>
<li id="wsite-nav-412176408513318171"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-faq.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			FAQ
		</span>
	</a>
	
</li>
<li id="wsite-nav-853345144352077819"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="about-us.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			About Us
		</span>
	</a>
	
</li>
<li id="wsite-nav-642375240317979528"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="news.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			News
		</span>
	</a>
	
</li>
<li id="wsite-nav-966510667957995380"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-articles.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Articles
		</span>
	</a>
	
</li>
<li id="wsite-nav-865509803538341244"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="cemetery-software-training.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Training
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg556297257270355358" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Find a Digitaph
			</a>
			
		</li>
		<li id="pg605163974314908484" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Buy a Plot
			</a>
			
		</li>
		<li id="pg855886954509371694" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Login | Sign Up
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-117216864520549144"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://everark.app/"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Cemetery Software Sign Up | EverArk
		</span>
	</a>
	
</li>
<li id="wsite-nav-605790868676529048"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.everark.me/#/login"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Plot Owners
		</span>
	</a>
	
</li>
<li id="wsite-nav-878103065110148860"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.everark.me/#/login"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			For Friends & Family
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
</ul>
</div>
            <div class="common">
              <span class="icon_search"></span>
            </div>

            <div class="menu-toggle"></div>
            <div class="menu-close"></div>
          </div>
        </div>
      </div>
      