<div id="banner">
        <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image wsite-section-effect-parallax" style="background-image: url(&quot;/{{bannerImage}}&quot;) ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: transparent ;background-size: cover;background-attachment: fixed;" >
		<div class="wsite-section-content">
        <div class="main banner-content">
				<div class="wsite-section-elements">
					<div class="paragraph"><font color="#3f3f3f">CEMETERY MANAGEMENT &amp; </font><span style="color:rgb(42, 42, 42)">CELEBRATION OF LIFE</span><font color="#3f3f3f"> SOFTWARE</font></div>
<h2 class="wsite-content-title">{{banner}}</h2>
				</div>
			</div>
		</div>
		<div class=""></div>
	</div>
</div>
</div>
      </div>
      <div id="main-container" class="clearfix">
        <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section"  >
		<div class="wsite-section-content">
        <div class="main">
			<div class="wsite-section-elements">
				<div class="wsite-spacer" style="height:50px;"></div>
				<article class="everark-article">
					<div class="article-date">{{date}}</div>
					<h1>{{title}}</h1>
{{body}}
				</article>
				<div class="wsite-spacer" style="height:60px;"></div>
			</div>
		</div>
        </div>
	</div>
</div>
</div>
      </div>
